
.grid-list-container {
    .grid-list-grid {
        margin-bottom: 20px;
    }

    .error-message {
        font-size: 3.5em;
        color: lightgray;
        padding: 8px;
        text-align: center;
    }
}
